<h3>Hej, <%= @giver.name %></h3>
<p>Robisz prezent dla: <%= @receiver.name %></p>
<hr />
<p><%= @receiver.name %> otrzyma prezent贸w: <%= @receiver.gifts_to_receive %></p>
<p><%= @receiver.name %> robi prezent贸w: <%= @receiver.gifts_to_make %></p>
<hr />
<p>Ty otrzymasz prezent贸w: <%= @giver.gifts_to_receive %></p>
<p>Ty robisz prezent贸w: <%= @giver.gifts_to_make %></p>
